#!/bin/bash
set -eu
#
# start docker container for unifi-stuff
docker run --init -d --restart=always \
  -p 8080:8080 \
  -p 8443:8443 \
  -p 3478:3478/udp \
  -p 10001:10001/udp \
  -e TZ='{{ unifi_docker_timezone }}' \
  -v {{ unifi_docker_data_dir }}:/unifi \
  --name {{ unifi_docker_container_name }} \
  {{ unifi_docker_image }}
